<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>
            <p class="center-align-big-bold">
                "Where there's a will, there's a way."
            <p class="center-align-big">
                "정답의 길이 따로 있는게 아닌, 내가 가는 길을 정답으로 만들어 나가는 것"
            </p>
            <p class="center-align-big-bold">
                "Perseverance pays off."
            </p>
             <p class="center-align-big">
                "인내의 끝이 꼭 성공은 아닐지라도, 인내는 많은 것을 배우게 해준다"
            </p>
        </div>
    </section>
</div>
