<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                다년간의 여러 경험을 쌓은 뒤 IT 분야로의 전환을 결심한 신입 백엔드 개발자를 지원하는 이시우입니다. 지난 경험들에 얻은 다양한 경험과 관점을 바탕으로 탄탄한 백엔드 개발자로서 성장하고 싶습니다.<br><br>
        국비지원 개발자 아카데미를 통해 Java, HTML, Spring Framework, Spring Boot, Python 등 다양한 기술을 학습하였습니다. 아직은 미흡하지만, 탐구하고 문제를 해결하는 과정에서의 열정과 성장 의지는 꾸준히 키워가고 있습니다.<br><br>
            </p>
            <p class="paragraph-text justify-text">
                아카데미의 팀프로젝트에서도 맡은 부분뿐만 아니라 팀 전체의 커뮤니케이션을 중요시하여 순탄하게 프로젝트를 진행할 수 있었습니다.<br><br>
        아직은 부족한 경험이라 할지라도, 도전하고 배우는 자세로 끊임없이 성장하는 모습으로 나아갈 것입니다.
            </p>
            <p class="paragraph-text justify-text">
            </p>
        </div>
    </section>
</div>
